.container{
  display: grid;
  
  max-width: 310px;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  background-color: white;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
 
  
  
}
.block{
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height:100px;
  font-size:100px;
  font-family: "Rubik";
  }

body{
  background-color: black;
  height: 100%;
  
}
html{
  height: 100%;
}

.parg1{
  color:white;
  display: inline-block;
  text-align: center;
  margin-right: 40px;
}
.parg2{
  color: white;
  display: inline-block;
  text-align: center;
  margin-left:40px ;
  margin-right:60px;
}
.parg3{
  display: inline-block;
  color: white;
  font-size: 25px;
  
}
.paragrafhbox{
  text-align: center;
}
#reset{
  color:rgba(255, 255, 255, 0.571);
  background-color: rgb(77, 75, 75);
  font-size: 30px;
  display: inline-block;
  border:none;
  border-radius: 8px;
}
#reset:hover{
  color:rgb(77, 75, 75);
  background-color: rgba(255, 255, 255, 0.571);
  transition: color 100ms, background-color 100ms;
  
}
